In [1]:
import pandas as pd 
import numpy as np

In [9]:
visitors = pd.read_excel('predicted_visitations.xlsx')
visitors = visitors.rename(columns={'Unnamed: 0': 'week_num'})

In [12]:
visitors = visitors.melt(id_vars=['week_num'], var_name='Resort')
visitors = visitors.rename(columns={'value':'n_visits'})

In [14]:
visitors['n_visits'] = visitors['n_visits'].apply(lambda x: int(x))

In [16]:
visitors['Year'] = [2026]*visitors.shape[0]

In [18]:
visitors.columns

Index(['week_num', 'Resort', 'n_visits', 'Year'], dtype='object')

In [38]:
prices = pd.read_excel("Price and Distance Data.xlsx")

In [39]:
prices = prices.loc[0]

In [33]:
prices.to_dict()

{'Unnamed: 0': 'Price (AUD)',
 'Mt Baw Baw': 302,
 'Mt. Stirling': 186,
 'Mt. Hotham': 942,
 'Falls Creek': 942,
 'Mt. Buller': 573,
 'Selwyn': 733,
 'Thredbo': 819,
 'Perisher': 1029,
 'Charlotte Pass': 927}

In [40]:
prices = prices.to_dict()
del prices['Unnamed: 0']

In [41]:
prices

{'Mt Baw Baw': 302,
 'Mt. Stirling': 186,
 'Mt. Hotham': 942,
 'Falls Creek': 942,
 'Mt. Buller': 573,
 'Selwyn': 733,
 'Thredbo': 819,
 'Perisher': 1029,
 'Charlotte Pass': 927}

In [45]:
prices['Mt. Baw Baw'] = prices['Mt Baw Baw']

In [46]:
visitors['Price'] = visitors['Resort'].map(prices)

In [47]:
visitors

     week_num          Resort  n_visits  Year  Price
0           1     Mt. Baw Baw      5707  2026    302
1           2     Mt. Baw Baw      3371  2026    302
2           3     Mt. Baw Baw      7585  2026    302
3           4     Mt. Baw Baw     16836  2026    302
4           5     Mt. Baw Baw     14058  2026    302
..        ...             ...       ...   ...    ...
130        11  Charlotte Pass      3226  2026    927
131        12  Charlotte Pass      3725  2026    927
132        13  Charlotte Pass      2989  2026    927
133        14  Charlotte Pass      2444  2026    927
134        15  Charlotte Pass      1803  2026    927

[135 rows x 5 columns]

In [48]:
visitors.to_csv('test_ratings.csv')

In [49]:
0.8632004377702129**2

0.7451149957666873

In [19]:
file_path = "2025 Allianz Datathon Dataset.xlsx"
df = pd.read_excel(file_path, sheet_name="Climate Data")

df["Date"] = pd.to_datetime(df[["Year", "Month", "Day"]])
cols = ["Maximum temperature (Degree C)", "Minimum temperature (Degree C)", "Rainfall amount (millimetres)"]
df = df[["Date"] + cols].replace(["M", "T", "-", "--", ""], np.nan)
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce")
df = df[df["Date"] >= "2010-05-26"]

weekly = df.set_index("Date").resample("W-SUN").agg({
    "Maximum temperature (Degree C)": "mean",
    "Minimum temperature (Degree C)": "mean",
    "Rainfall amount (millimetres)": "sum"
})

temp_cols = ["Maximum temperature (Degree C)", "Minimum temperature (Degree C)"]
for col in temp_cols:
    weekly[col] = weekly[col].interpolate(method="linear")

weekly = weekly.dropna(how="all").reset_index()
weekly["Mean temperature (Degree C)"] = weekly[["Maximum temperature (Degree C)", "Minimum temperature (Degree C)"]].mean(axis=1)
weekly["Week"] = [f"Week{i+1} ({d.strftime('%Y-%m-%d')})" for i, d in enumerate(weekly["Date"])]

final = weekly[["Week"] + cols + ["Mean temperature (Degree C)"]]
final

,Week,Maximum temperature (Degree C),Minimum temperature (Degree C),Rainfall amount (millimetres),Mean temperature (Degree C)
0,Week1 (2010-05-30),5.351429,1.740000,309.6,3.545714
1,Week2 (2010-06-06),5.612245,-0.351020,245.4,2.630612
2,Week3 (2010-06-13),0.469388,-4.375510,121.0,-1.953061
3,Week4 (2010-06-20),2.171429,-1.857143,368.8,0.157143
4,Week5 (2010-06-27),2.907143,-1.830233,287.4,0.538455
...,...,...,...,...,...
788,Week789 (2025-07-06),3.044898,-1.583673,204.2,0.730612
789,Week790 (2025-07-13),0.879592,-2.606122,318.8,-0.863265
790,Week791 (2025-07-20),0.234694,-3.887755,149.8,-1.826531
791,Week792 (2025-07-27),1.545652,-2.748936,417.8,-0.601642
792,Week793 (2025-08-03),0.700000,-0.883333,223.6,-0.091667